{% extends "base.html" %}
<title>
    {% block title %} Início | BS Notes {% endblock %}</title>  

{% block conteudo %}
<main>
    <h1 align="center">Bem Vindo ao BS Notes!</h1>
    <h3 align="center">Organize suas anotações de um jeito fácil e rápido</h3>
    <img src="..\static\imagens\logo_site.png" class="img-fluid" alt="Responsive image">

    <p>
        Se livre do papel e caneta! Com o BS Notes, fazer anotações nunca foi tão
        fácil. Seja um lembrete, uma lista de compras, ou até mesmo uma ideia para o
        seu negócio, o BS Notes te ajuda a guardar notas para que você nunca mais se 
        esqueça de nada. Crie já sua conta e comece a aproveitar todos os benefícios agora mesmo.
    </p>
</main>
{% endblock %}